@font-face {
  font-family: Open Sans;
  src: url(./fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: Open Sans, sans-serif;
}

:root {
  --font-size-regular: 1.7rem;
  --color-white: #ffffff;
  --border-radius-button: 0.3rem;
}

h1 {
  color: var(--color-white);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--color-white);
  line-height: 5.3rem;
  letter-spacing: 0.7rem;
  font-size: 2.9rem;
  font-weight: bold;
  margin-bottom: 4.7rem;
  padding: 1rem;
}

h2 {
  color: var(--color-white);
  border-bottom-style: 1px solid;
  border-color: var(--color-white);
  line-height: 5.3rem;
  letter-spacing: 0.5rem;
  font-size: 2.3rem;
  font-weight: bold;
  padding-bottom: 2.8rem;
  text-transform: uppercase;
}

header {
  background-image: url(./img/Section_2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

nav a {
  margin-left: 92%;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 5.2rem;
  letter-spacing: 0.3rem;
}

p {
  color: var(--color-white);
  font-size: 1.7rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
}

.break::after {
  content: "\A";
  white-space: pre;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40vh;
  text-transform: uppercase;
  text-align: center;
}

.landing p {
  margin: 0 32% 0 32%;
  letter-spacing: 0.3rem;
  padding-bottom: 2.7rem;
}

.button-1 {
  text-transform: uppercase;
  background-color: #ed4933;
  border-radius: var(--border-radius-button);
  color: var(--color-white);
  padding: 0.5rem;
  line-height: 4.3rem;
  width: 15rem;
  letter-spacing: 0.3rem;
  text-align: center;

  font-weight: bold;
}

.style-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #21b2a6;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.style-1 article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: center;
}

.style-1 article p {
  color: #c8ece9;
  padding-bottom: 5rem;
}

.logos-1 {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.style-2 {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.style-2 article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.style-2 article img {
  width: 40vw;
  object-fit: cover;
  object-position: center;
}

.style-2 article div {
  padding: 3% 6% 3% 6%;
}

.style-2 article:nth-of-type(1) {
  background-color: #2b343d;
}

.style-2 article:nth-of-type(2) {
  background-color: #273038;
  flex-direction: row-reverse;
}

.style-2 article:nth-of-type(3) {
  background-color: #242b33;
}

/* !    Promise section */

.promise {
  background-color: #505393;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
}

.promise p {
  color: #d3d4e4;
  padding-bottom: 6vh;
}

.promise-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.promise-grid article {
  text-align: left;
  padding: 5rem;
  background-color: #4d508e;
}

.promise-grid article:nth-of-type(2) {
  background-color: #4a4d89;
}

.promise-grid article:nth-of-type(3) {
  background-color: #484a83;
}

.promise-grid article:nth-of-type(4) {
  background-color: #45477e;
}
.promise-grid article:nth-of-type(5) {
  background-color: #424479;
}

.promise-grid article:nth-of-type(6) {
  background-color: #3f4274;
}

.contact {
  padding-top: 7vh;
  padding-bottom: 7vh;
  background-image: url(./img/Section_1.jpg);
  background-position: center;
  background-size: cover;
}

.contact-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 65vw;
  margin: auto;
  gap: 6%;
}

.contact-row article {
  width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f262c;
}

.socials {
  padding-top: 5%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.socials a svg {
  fill: white;
}

.socials a svg:hover {
  fill: red;
}

.copyright-desktop {
  margin: auto;
  padding-bottom: 3vh;
}

@media (max-width: 768px) {
  header {
    height: 70vh;
  }

  .landing {
    margin-top: 20vh;
  }

  .landing p {
    margin: 0% 15% 0% 15%;
  }

  .style-1 article {
    width: 85%;
  }

  .style-2 article {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .style-2 article:nth-of-type(2) {
    background-color: #273038;
    flex-direction: column;
  }

  .style-2 article img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .style-2 article div {
    padding: 10% 6% 10% 6%;
    text-align: center;
  }

  h2 {
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 0.4rem;
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.1rem;
  }

  .promise p {
    text-align: center;
    padding-bottom: 0;
  }

  .contact-row {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90vw;
  }

  .contact-row p {
    padding-bottom: 3vh;
  }

  .contact-row article {
    text-align: center;
    width: 100%;
  }

  .copyright-mobile {
    display: none;
  }
}

@media (max-width: 576px) {
  header {
    height: 50vh;
  }

  nav {
    display: none;
  }

  .landing {
    width: 80%;
    margin: auto;
    padding-top: 20%;
  }

  .landing p {
    margin: 0% 15% 0% 15%;
  }

  .style-1 article {
    width: 85%;
  }

  .style-2 article {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .style-2 article:nth-of-type(2) {
    background-color: #273038;
    flex-direction: column;
  }

  .style-2 article img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .style-2 article div {
    padding: 10% 6% 10% 6%;
    text-align: center;
  }

  h1 {
    font-size: 1.7rem;
    line-height: 3rem;
    letter-spacing: 1.7rem;
  }

  h2 {
    text-align: center;
    line-height: 2.6rem;
    letter-spacing: 0.4rem;
    font-size: 1.6rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.1rem;
  }

  .promise-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promise p {
    text-align: center;
    padding-bottom: 0;
  }

  .contact-row {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90vw;
  }

  .contact-row p {
    padding-bottom: 3vh;
  }

  .contact-row article {
    text-align: center;
    width: 100%;
  }

  .promise-grid article:nth-of-type(1) {
    background-color: #505393;
  }

  .promise-grid article:nth-of-type(2) {
    background-color: #505393;
  }

  .promise-grid article:nth-of-type(3) {
    background-color: #505393;
  }

  .promise-grid article:nth-of-type(4) {
    background-color: #505393;
  }
  .promise-grid article:nth-of-type(5) {
    background-color: #505393;
  }

  .promise-grid article:nth-of-type(6) {
    background-color: #505393;
  }

  .copyright-desktop {
    display: none;
  }

  .copyright-mobile {
    display: block;
  }
}
